/*
Project:        Overhead kiosk website
Organization:   Dallas County Community College District
                Health Careers Resource Center
Author:         amnotafraid
Published on:   
*/
/* In a command window run sass --watch style.scss:style.css
*  This will generate style.css from this file.
*/
/*------------------------------------*\
  MIXINS
\*------------------------------------*/
/*------------------------------------*\
  SASS VARIABLES
\*------------------------------------*/
/*#21515D;*/
/*------------------------------------*\
  GENERIC
\*------------------------------------*/
::-moz-selection {
  background-color: #1b4f6d;
  color: white; }

::selection {
  background-color: #1b4f6d;
  color: white; }

a {
  outline: 0;
  color: #222;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

p a:hover {
  color: #27B3CF; }

a:active {
  outline: none;
  position: relative;
  top: 2px; }

.clearfix {
  clear: both; }

p.center, h1.center, h2.center, h3.center, h4.center, h5.center {
  text-align: center; }

.underscore {
  text-decoration: underline; }

.footnote {
  font-family: "Droid Sans", sans-serif;
  font-size: 0.8em; }

@font-face {
  font-family: 'pulsarjs';
  src: url("../fonts/pulsarjs-webfont.eot"), url("../fonts/pulsarjs-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pulsarjs-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sosa';
  src: url("../fonts/sosa.eot"), url("../fonts/sosa.eot?#iefix") format("embedded-opentype"), url("../fonts/sosa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: 'pulsarjs';
  font-size: 22px;
  display: inline-block; }

.graphic {
  font-family: 'sosa';
  font-size: 48px;
  display: inline-block; }

.green {
  color: #06b421; }

.red {
  color: #ef2b31; }

.blue {
  color: #0054fd; }

.dark {
  color: #1b4f6d; }

/* OTHERS */
.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.dark-background {
  background: #203344;
  display: block;
  /*set the div in the top-left corner of the screen*/
  position: absolute;
  top: 0;
  left: 0;
  /*set the width and height to 100% of the screen*/
  width: 100%;
  height: 100%; }

.start-background {
  background: #203344 url(../images/20x20-tile.png) top left repeat;
  display: block;
  /*set the div in the top-left corner of the screen*/
  position: absolute;
  top: 0;
  left: 0;
  /*set the width and height to 100% of the screen*/
  width: 100%;
  height: 100%; }

.black-background {
  background: black;
  display: block;
  /*set the div in the top-left corner of the screen*/
  position: absolute;
  top: 0;
  left: 0;
  /*set the width and height to 100% of the screen*/
  width: 100%;
  height: 100%; }

sup {
  font-size: x-small;
  vertical-align: super; }

/*------------------------------------*\
  MAIN
\*------------------------------------*/
body {
  background: #f6f7f3;
  color: #222;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  -webkit-transition: font-size 0.5s ease-in-out;
  -moz-transition: font-size 0.5s ease-in-out;
  -ms-transition: font-size 0.5s ease-in-out;
  -o-transition: font-size 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out; }

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1152px;
  width: 90%;
  background: #f6f7f3;
  border: solid 1px #7e7e7e;
  /*@include roundcorners(5px);*/ }

#content {
  background: #f6f7f3;
  width: 100%;
  height: 100%; }

header {
  padding: 3px;
  text-align: center;
  margin: 0px;
  background: #203344 url(../images/20x20-tile.png) top left repeat;
  border-bottom: 1px solid #7e7e7e;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed; }

h1 {
  font-size: 90px;
  font-family: 'League Gothic';
  line-height: 75px;
  padding: 10px;
  color: white;
  -webkit-transition: font-size 0.5s ease-in-out;
  -moz-transition: font-size 0.5s ease-in-out;
  -ms-transition: font-size 0.5s ease-in-out;
  -o-transition: font-size 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out; }

h1 a:hover {
  text-decoration: none;
  color: #27B3CF; }

h2 {
  font-family: "Droid Sans", sans-serif;
  font-size: 18px;
  padding: 10px;
  color: #203344;
  -webkit-transition: font-size 0.5s ease-in-out;
  -moz-transition: font-size 0.5s ease-in-out;
  -ms-transition: font-size 0.5s ease-in-out;
  -o-transition: font-size 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out; }

h3 {
  font-family: "Droid Sans", sans-serif;
  font-size: 30px; }

h4 {
  font-family: "Droid Sans", sans-serif;
  font-size: 4em;
  color: #203344;
  -webkit-transition: font-size 0.5s ease-in-out;
  -moz-transition: font-size 0.5s ease-in-out;
  -ms-transition: font-size 0.5s ease-in-out;
  -o-transition: font-size 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out; }

h4 a {
  text-decoration: underline; }

h5 {
  font-size: 45px;
  font-family: "Droid Sans", sans-serif;
  position: relative;
  color: #f6f7f3; }

h5 span {
  background: url(../images/dark-gradient-shine.png) repeat-x;
  position: absolute;
  display: block;
  width: 100%;
  height: 45px; }

div.shadow_text {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); }

#IEroot div.shadow_text {
  zoom: 1;
  background-color: #cc0000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(Color=#cccccc) progid:DXImageTransform.Microsoft.DropShadow(Color='#60000000', OffX=-1, OffY=-1)";
  filter: progid:DXImageTransform.Microsoft.Chroma(Color=#cccccc) progid:DXImageTransform.Microsoft.DropShadow(OffX=-1, OffY=-1, Color='#60000000'); }

nav {
  background: #222;
  padding: 0;
  margin: 10px 0; }

nav a {
  color: #F9F9F9;
  display: block;
  float: left;
  padding: 10px; }

nav a:visited {
  color: #f9f9f9; }

nav a:hover {
  text-decoration: none;
  background: #27B3CF; }

nav a:active {
  position: relative;
  top: 0; }

.left-col {
  width: 70%;
  float: left;
  margin-bottom: 10px; }

.sidebar {
  width: 20%;
  float: right;
  margin-bottom: 10px;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out; }

div.popup {
  float: left;
  padding-right: 2%; }

#featured {
  padding: 20px; }

#latest {
  padding: 20px; }

#about {
  padding: 20px; }

p {
  padding: 0 5px 0 5px; }

ul {
  list-style: disc;
  list-style-position: outside;
  padding-left: 20px; }

ul li {
  margin: 5px;
  padding-left: 5px; }

hr {
  color: #7e7e7e;
  background-color: #7e7e7e;
  height: 1px; }

footer {
  padding: 5px;
  text-align: center;
  background: #f6f7f3 url(../images/20x20-tile.png) top left repeat;
  border-top: 1px solid #7e7e7e;
  color: white;
  font-weight: bold;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%; }

pre {
  overflow: scroll;
  font-size: 10px; }

/*------------------------------------*\
  TABLE
\*------------------------------------*/
.certificate-table {
  *border-collapse: collapse;
  /* IE7 and lower */
  border-spacing: 0;
  margin: 2%;
  font-family: "Droid Sans", sans-serif;
  text-align: center;
  border: 1px solid #0f0f0f;
  -moz-box-shadow: 3px 3px 5px #cccccc;
  -webkit-box-shadow: 3px 3px 5px #cccccc;
  box-shadow: 3px 3px 5px #cccccc; }

.certificate-table tbody th, td {
  font-size: 0.8em;
  line-height: 1.4em;
  font-family: 'Droid Sans', sans-serif;
  color: #0f0f0f;
  padding: 10px 7px;
  border-right: 1px solid #cfe2e8;
  text-align: center; }

.certificate-table td {
  border-top: 1px solid #cfe2e8; }

.certificate-shaded-row {
  background: #eee; }

.certificate-table th {
  background: #cfe2e8; }

.certificate-table caption {
  text-align: left;
  line-height: 3em;
  text-indent: 10px;
  height: 3em;
  color: #203344; }

.certificate-table thead th {
  height: 47px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0px 7px;
  margin: 20px 0px 0px;
  text-align: center;
  border-right: 1px solid #cfe2e8; }

.certificate-table div.arrow {
  background: transparent url(../images/arrows.png) no-repeat scroll 0px -16px;
  width: 16px;
  height: 16px;
  display: block; }

.certificate-table div.up {
  background-position: 0px 0px; }

.certificate-table {
  *border-collapse: collapse;
  /* IE7 and lower */
  border-spacing: 0;
  margin: 2%;
  font-family: "Droid Sans", sans-serif;
  text-align: center;
  border: 1px solid #0f0f0f;
  -moz-box-shadow: 3px 3px 5px #cccccc;
  -webkit-box-shadow: 3px 3px 5px #cccccc;
  box-shadow: 3px 3px 5px #cccccc; }

.certificate-table tbody th, td {
  font-size: 0.8em;
  line-height: 1.4em;
  font-family: 'Droid Sans', sans-serif;
  color: #0f0f0f;
  padding: 10px 7px;
  border-right: 1px solid #cfe2e8;
  text-align: center; }

.certificate-table td {
  border-top: 1px solid #cfe2e8; }

.certificate-shaded-row {
  background: #eee; }

.certificate-table th {
  background: #cfe2e8; }

.certificate-table caption {
  text-align: left;
  line-height: 3em;
  text-indent: 10px;
  height: 3em;
  color: #203344; }

.certificate-table thead th {
  height: 47px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0px 7px;
  margin: 20px 0px 0px;
  text-align: center;
  border-right: 1px solid #cfe2e8; }

.certificate-table div.arrow {
  background: transparent url(../images/arrows.png) no-repeat scroll 0px -16px;
  width: 16px;
  height: 16px;
  display: block; }

.certificate-table div.up {
  background-position: 0px 0px; }

.table tbody th, td {
  *border-collapse: collapse;
  /* IE7 and lower */
  border-spacing: 0; }

/*------------------------------------*\
  BUTTON
\*------------------------------------*/
div.mainbuttonbox {
  margin: 2% 2%;
  float: left;
  text-align: center;
  width: 29%;
  height: 3em; }

.mainbutton {
  border-top: 1px solid #ffffff;
  background: #127f45;
  background-repeat: repeat-x;
  background-position: 0 0;
  zoom: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 2px 4px #999999;
  -webkit-box-shadow: 0px 2px 4px #999999;
  box-shadow: 0px 2px 4px #999999;
  font-weight: bold;
  line-height: 3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /*text-shadow: -1px -1px 0 rgba(0,0,0,0.3); this only works for non-IE */
  vertical-align: middle;
  /*margin: 0 0 16px;*/
  display: block;
  padding: 0.5em;
  background-color: #d3d3d3;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3d3d3, endColorstr=#707070);
  background: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
  background: -webkit-linear-gradient(top, #d3d3d3, #707070);
  background: -moz-linear-gradient(top, #d3d3d3, #707070);
  background: -ms-linear-gradient(top, #d3d3d3, #707070);
  background: -o-linear-gradient(top, #d3d3d3, #707070); }

.mainbutton:active {
  border-top-color: 1aba65;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 2px 4px #999999;
  -webkit-box-shadow: 0px 2px 4px #999999;
  box-shadow: 0px 2px 4px #999999;
  background: 169e56;
  background-repeat: repeat-x;
  background-position: 0 10%;
  zoom: 1;
  background-color: #707070;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#707070, endColorstr=#d3d3d3);
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#d3d3d3));
  background: -webkit-linear-gradient(top, #707070, #d3d3d3);
  background: -moz-linear-gradient(top, #707070, #d3d3d3);
  background: -ms-linear-gradient(top, #707070, #d3d3d3);
  background: -o-linear-gradient(top, #707070, #d3d3d3); }

div.startbuttonbox {
  margin: 100px auto;
  text-align: center;
  width: 29%;
  height: 3em; }

.startbutton {
  border-top: 1px solid #ffffff;
  background: #127f45;
  background-repeat: repeat-x;
  background-position: 0 0;
  zoom: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 2px 4px #999999;
  -webkit-box-shadow: 0px 2px 4px #999999;
  box-shadow: 0px 2px 4px #999999;
  font-weight: bold;
  line-height: 3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  display: block;
  padding: 0.5em;
  background-color: #d3d3d3;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3d3d3, endColorstr=#707070);
  background: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
  background: -webkit-linear-gradient(top, #d3d3d3, #707070);
  background: -moz-linear-gradient(top, #d3d3d3, #707070);
  background: -ms-linear-gradient(top, #d3d3d3, #707070);
  background: -o-linear-gradient(top, #d3d3d3, #707070); }

.startbutton:active {
  border-top-color: 1aba65;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 2px 4px #999999;
  -webkit-box-shadow: 0px 2px 4px #999999;
  box-shadow: 0px 2px 4px #999999;
  background: 169e56;
  background-repeat: repeat-x;
  background-position: 0 10%;
  zoom: 1;
  background-color: #707070;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#707070, endColorstr=#d3d3d3);
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#d3d3d3));
  background: -webkit-linear-gradient(top, #707070, #d3d3d3);
  background: -moz-linear-gradient(top, #707070, #d3d3d3);
  background: -ms-linear-gradient(top, #707070, #d3d3d3);
  background: -o-linear-gradient(top, #707070, #d3d3d3); }

div.buttonset {
  width: 40%;
  height: 4em;
  left: 50%;
  margin: 1% 0 1% -20%;
  position: relative; }

div.centerbuttonbox {
  float: left;
  text-align: center;
  width: 32.33%;
  height: 3em;
  margin: 0 0.5%; }

.centerbutton {
  border-top: 1px solid #ffffff;
  background: #127f45;
  background-repeat: repeat-x;
  background-position: 0 0;
  zoom: 1;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: 0px 2px 4px #999999;
  -webkit-box-shadow: 0px 2px 4px #999999;
  box-shadow: 0px 2px 4px #999999;
  font-weight: bold;
  line-height: 3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /*text-shadow: -1px -1px 0 rgba(0,0,0,0.3); this only works for non-IE */
  vertical-align: middle;
  display: block;
  padding: 0.5em;
  background-color: #d3d3d3;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3d3d3, endColorstr=#707070);
  background: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
  background: -webkit-linear-gradient(top, #d3d3d3, #707070);
  background: -moz-linear-gradient(top, #d3d3d3, #707070);
  background: -ms-linear-gradient(top, #d3d3d3, #707070);
  background: -o-linear-gradient(top, #d3d3d3, #707070); }

.centerbutton:active {
  border-top-color: 1aba65;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: 0px 2px 4px #999999;
  -webkit-box-shadow: 0px 2px 4px #999999;
  box-shadow: 0px 2px 4px #999999;
  background: 169e56;
  background-repeat: repeat-x;
  background-position: 0 10%;
  zoom: 1;
  background-color: #707070;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#707070, endColorstr=#d3d3d3);
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#d3d3d3));
  background: -webkit-linear-gradient(top, #707070, #d3d3d3);
  background: -moz-linear-gradient(top, #707070, #d3d3d3);
  background: -ms-linear-gradient(top, #707070, #d3d3d3);
  background: -o-linear-gradient(top, #707070, #d3d3d3); }

div.leftbuttonbox {
  float: left;
  text-align: center;
  width: 33.33%;
  height: 3em; }

.leftbutton {
  border-top: 1px solid #ffffff;
  background: #127f45;
  background-repeat: repeat-x;
  background-position: 0 0;
  zoom: 1;
  -moz-border-top-left-radius: 2em;
  -webkit-border-top-left-radius: 2em;
  border-top-left-radius: 2em;
  -moz-border-bottom-left-radius: 2em;
  -webkit-border-bottom-left-radius: 2em;
  border-bottom-left-radius: 2em;
  -moz-box-shadow: 0px 2px 4px #999999;
  -webkit-box-shadow: 0px 2px 4px #999999;
  box-shadow: 0px 2px 4px #999999;
  font-weight: bold;
  line-height: 3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /*text-shadow: -1px -1px 0 rgba(0,0,0,0.3); this only works for non-IE */
  vertical-align: middle;
  display: block;
  padding: 0.5em;
  background-color: #d3d3d3;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3d3d3, endColorstr=#707070);
  background: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
  background: -webkit-linear-gradient(top, #d3d3d3, #707070);
  background: -moz-linear-gradient(top, #d3d3d3, #707070);
  background: -ms-linear-gradient(top, #d3d3d3, #707070);
  background: -o-linear-gradient(top, #d3d3d3, #707070); }

.leftbutton:active {
  border-top-color: 1aba65;
  -moz-border-top-left-radius: 2em;
  -webkit-border-top-left-radius: 2em;
  border-top-left-radius: 2em;
  -moz-border-bottom-left-radius: 2em;
  -webkit-border-bottom-left-radius: 2em;
  border-bottom-left-radius: 2em;
  -moz-box-shadow: 0px 2px 4px #999999;
  -webkit-box-shadow: 0px 2px 4px #999999;
  box-shadow: 0px 2px 4px #999999;
  background: 169e56;
  background-repeat: repeat-x;
  background-position: 0 10%;
  zoom: 1;
  background-color: #707070;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#707070, endColorstr=#d3d3d3);
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#d3d3d3));
  background: -webkit-linear-gradient(top, #707070, #d3d3d3);
  background: -moz-linear-gradient(top, #707070, #d3d3d3);
  background: -ms-linear-gradient(top, #707070, #d3d3d3);
  background: -o-linear-gradient(top, #707070, #d3d3d3); }

div.rightbuttonbox {
  float: left;
  text-align: center;
  width: 33.33%;
  height: 3em; }

.rightbutton {
  border-top: 1px solid #ffffff;
  background: #127f45;
  background-repeat: repeat-x;
  background-position: 0 0;
  zoom: 1;
  -moz-border-top-right-radius: 2em;
  -webkit-border-top-right-radius: 2em;
  border-top-right-radius: 2em;
  -moz-border-bottom-right-radius: 2em;
  -webkit-border-bottom-right-radius: 2em;
  border-bottom-right-radius: 2em;
  -moz-box-shadow: 0px 2px 4px #999999;
  -webkit-box-shadow: 0px 2px 4px #999999;
  box-shadow: 0px 2px 4px #999999;
  font-weight: bold;
  line-height: 3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /*text-shadow: -1px -1px 0 rgba(0,0,0,0.3); this only works for non-IE */
  vertical-align: middle;
  margin: 0 0 16px;
  display: block;
  padding: 0.5em;
  background-color: #d3d3d3;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3d3d3, endColorstr=#707070);
  background: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
  background: -webkit-linear-gradient(top, #d3d3d3, #707070);
  background: -moz-linear-gradient(top, #d3d3d3, #707070);
  background: -ms-linear-gradient(top, #d3d3d3, #707070);
  background: -o-linear-gradient(top, #d3d3d3, #707070); }

.rightbutton:active {
  border-top-color: 1aba65;
  -moz-border-top-right-radius: 2em;
  -webkit-border-top-right-radius: 2em;
  border-top-right-radius: 2em;
  -moz-border-bottom-right-radius: 2em;
  -webkit-border-bottom-right-radius: 2em;
  border-bottom-right-radius: 2em;
  -moz-box-shadow: 0px 2px 4px #999999;
  -webkit-box-shadow: 0px 2px 4px #999999;
  box-shadow: 0px 2px 4px #999999;
  background: 169e56;
  background-repeat: repeat-x;
  background-position: 0 10%;
  zoom: 1;
  background-color: #707070;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#707070, endColorstr=#d3d3d3);
  background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#d3d3d3));
  background: -webkit-linear-gradient(top, #707070, #d3d3d3);
  background: -moz-linear-gradient(top, #707070, #d3d3d3);
  background: -ms-linear-gradient(top, #707070, #d3d3d3);
  background: -o-linear-gradient(top, #707070, #d3d3d3); }

.mainbuttonbox a, .startbuttonbox a, .centerbuttonbox a, .leftbuttonbox a, .rightbuttonbox a {
  color: #203344;
  text-decoration: none; }

.mainbuttonbox a:active, .startbuttonbox a:focus, .mainbuttonbox a:focus, .centerbuttonbox a:active, .centerbuttonbox a:focus, .leftbuttonbox a:active, .leftbuttonbox a:focus, .rightbuttonbox a:active, .rightbuttonbox a:focus {
  outline: none; }

/*------------------------------------*\
  jQUERY CIRCULATE
\*------------------------------------*/
#swirl-wrap {
  z-index: 20;
  width: 570px;
  margin: 50px auto;
  padding: 20px;
  position: relative; }

#sphere-area {
  height: 350px;
  position: relative;
  width: 100%; }

#sphere-area img {
  width: 200px;
  height: 160px;
  position: absolute;
  top: 50px;
  left: 220px; }

#sphere-area #image-b, #image-c, #image-d, #image-e, #image-f, #image-g {
  opacity: 0; }

/*------------------------------------*\
  SLIDER
\*------------------------------------*/
#slider {
  position: relative;
  margin: 45px 45px 0px 45px; }

#slider .viewer {
  border: solid 1px #7e7e7e;
  background: white; }

#slider .slide {
  padding: 2%;
  width: 100%; }

#slider .slide-background {
  background: #f6f7f3 url(../images/20x20-tile.png) top left repeat; }

#slider .slide-double-portrait {
  padding: 2%;
  width: 50%;
  float: left; }

.temperature-box {
  width: 100%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: black;
  float: left; }

.temperature-p {
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  color: white; }

.embed-box {
  position: relative;
  padding-bottom: 100%;
  /* 1/1 ratio */
  padding-top: 30px;
  /* IE6 workaround*/
  height: 0;
  overflow: hidden; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%; }

.date-box {
  width: 100%;
  left: 50%;
  margin: 0 0 0 -50%;
  position: relative; }

.date-p {
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

#slider .slide .slide-double-landscape {
  padding: 2%;
  width: 100%; }

#slider .slide .slide-landscape {
  padding: 2%;
  width: 100%; }

#slider .indicator {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 20px 0 0 0;
  background: #f6f7f3; }

#slider .indicator span {
  display: inline-block;
  text-indent: -9999em;
  width: 12px;
  height: 12px;
  background: #7e7e7e;
  border-radius: 6px;
  margin: 0 2px 0 2px; }

#slider .indicator span.active {
  background: #203344; }
